@import "./../../Styles/index.scss";

.header {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &__image {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__content {
    width: 100%;
    min-height: 100%;
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    &__first {
      min-width: 100%;
      height: 100vh;
      position: relative;

      &__image {
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 1, 1);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__title {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(1, 1, 1, 0.7);

        &__container {
          max-width: 1300px;
          height: 100%;
          padding: 0 0.5rem;
          margin: auto;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          &__items {
            h1 {
              font-size: 3rem;
              color: white;
              font-weight: 900;
              margin-bottom: 15px;

              span {
                color: #cda45e;
              }
            }

            p {
              font-size: 1.2rem;
              color: white;
              margin-bottom: 35px;
            }

            a {
              text-decoration: none;
              color: #FFF;
              border-radius: 40px;
              padding: 12px 36px;
              text-transform: uppercase;
              font-size: 18px;
              background: linear-gradient(90deg, $dark, #FAC564);
            }
          }

          &__link {

            a {
              text-align: right;
              border: 5px solid #FAC564;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #cda45e;
              font-size: 3em;
              width: 170px;
              height: 170px;
              border-radius: 50%;

              &:hover {
                background: #FAC564;
                color: white;
                transition: 0.7s ease-in;
              }
            }
          }
        }
      }
    }

    &__second {
      min-height: 40vh;
      padding: 60px 0 40px;

      &__container {
        max-width: 1300px;
        margin: auto;
        padding: 0 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

        &__items {
          text-align: left;

          h1 {
            color: wheat;
            font-size: 26px;
            font-weight: 600;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 10px;
          }

          p {
            font-size: 1rem;
            color: white;
            margin-bottom: 14px;
            line-height: 20px;

            span {
              color: #FAC564;
            }
          }

          &:last-child {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    &__third {
      width: 100%;
      min-height: 40vh;
      padding: 50px 0;
      background: #1A1814;

      &__container {
        max-width: 1300px;
        margin: auto;
        padding: 0 0.5rem;

        h4 {
          font-size: 16px;
          color: #AAAAAA;
          margin-bottom: 25px;
          position: relative;
          display: inline-block;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: -250%;
            width: 200%;
            background: #AAAAAA;
            height: 1px;
          }
        }

        h1 {
          font-size: 2.25rem;
          color: #cda45e;
          margin-bottom: 25px;
        }

        &__box {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          grid-gap: 20px 50px;

          &__items {
            width: 100%;
            height: 15rem;
            background: #282620;
            padding: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            span {
              font-size: 28px;
              color: #cda45e;
            }

            h1 {
              color: #FFFFFFCC;
              font-size: 1.5rem;
              margin: 20px 0 !important;
              font-weight: bold;
            }

            p {
              color: #AAAAAA;
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .header {
    &__content {
      &__first {

        &__title {
          &__container {
            &__items {
            }
            &__link {
              display: flex;
              align-items: center;
              justify-content: flex-end;
            }
          }
        }
      }

      &__second {
        &__container {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
@media (max-width: 937px) {
  .header {
    &__content {
      &__first {

        &__title {
          &__container {
            padding: 4rem 10rem 0;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 20px;

            &__items {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              h1 {
                font-size: 2.75rem;
              }
              p {
                margin-bottom: 15px;
              }
            }
            &__link {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 813px) {
  .header {
    &__content {
      &__first {

        &__title {
          &__container {
            padding: 3rem 4rem 0;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 20px;

            &__items {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              h1 {
                font-size: 2.75rem;
              }
            }
            &__link {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 415px) {
  .header {
    &__content {
      &__first {

        &__title {
          &__container {
            padding: 3rem 0.1rem 0;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 20px;

            &__items {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-end;
              text-align: center;
              h1 {
                font-size: 2rem;
              }
            }
            &__link {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}