@import "./../../Styles/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
  font-family: 'Outfit', sans-serif !important;
}
.footer {
  width: 100%;
  min-height: 30vh;
  padding: 40px 0;
  background: black;
  &__container {
    max-width: 1300px;
    margin: auto;

    &__box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
      border-bottom: 2px solid white;
      padding: 40px 0;

      &__item {
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
          flex-direction: column;

          a {
            text-decoration: none;
            color: white;
            margin-bottom: 20px;
          }

          p {
            font-size: 18px;
            line-height: 2em;
          }
        }

        &:last-child {
          a{
            margin-right: 20px;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
          }
        }
      }
    }

    &__text {
      color: white;
      text-align: center;
      margin-top: 15px;
      font-size: 20px;
    }
  }
}

@media (max-width: 769px) {
  .footer {
    &__container {
      &__box {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
      }
    }
  }
}